<p style="color: green"><%= notice %></p>
<div style="text-align: center">
  <h1 class="header-text">Latest questions</h1>
</div>

<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
    <hr>
  <% end %>
</div>

<%= link_to "New question", new_question_path %>
