<div id="<%= dom_id issue %>">
  <p>
    <strong>Category:</strong>
    <%= issue.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to issue.user.name, issue.user %>
  </p>

</div>
