<p style="color: green"><%= notice %></p>

<h1>Issues</h1>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <p>
      <%= link_to "Show this issue", issue %>
    </p>
    <br>
  <% end %>
</div>

