<p style="color: green"><%= notice %></p>

<%= render @issue %>

<div>
  <% if current_user.admin? %>
    <%= link_to "Back to issues", issues_path %>
  <% end %>
  <%= button_to "Destroy this issue", @issue, method: :delete %>
</div>
