<h1>Users#show</h1>
<%= @user.email %>
<% if @user.admin? %>
  <%= link_to 'New post', new_post_path, class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Edit user', edit_user_registration_path, class: 'btn btn-success' %>
