<p style="color: green"><%= notice %></p>

<h1>Answers</h1>

<div id="answers">
  <% @answers.each do |answer| %>
    <strong><%= answer.question.title %></strong>
    <p><%= answer.text %></p>
  <% end %>
</div>

