.answer {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  word-break: break-word;
  hr {
    margin: 0;
  }
}
.accepted {
  background-color: palegreen;
}
.answer-header {
  h1 {
    display: inline-block;
  }
  a {
    display: inline-block;
    float: right;
  }
  form {
    display: inline-block;
    float: right;
  }
}
