.category-header {
  margin-top: 5px;
  p {
    font-weight: bolder;
    display: inline-block;
  }
  img {
    display: inline-block;
    margin-left: 5px;
  }
}
#categories {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 10px;
  row-gap: 10px;
}
.category {
  box-shadow: 1px 1px 3px black;
  background-color: lightyellow;
  border-style: solid;
  border-width: 2px;
  padding-top: 5px;
  border-color: black;
  text-align: center;
}

.category-link {
  text-decoration: none;
  font-weight: bold;
}

.category-search {
  cursor: pointer;
}
#search-results {
  background-color: lightgrey;
  width: 200px;
  max-height: 200px;
  overflow-y: scroll;
}