.home {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: lightblue;
  text-align: center;
  border-radius: 20px;
}
.navbar .dropdown-menu.show {
  min-width: inherit;
  display: inline-block;
}

.header-text {
  display: inline-block;
  text-align: center;
  background-color: lightblue;
  border-color: lightblue;
  border-style: solid;
  border-radius: 10px;
  padding-inline: 30px;
  padding-block: 10px;
}
