.question-partial {
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h2 {
    color: black;
    font-weight: 600;
  }
  .question-header {
    color: black;
  }
  .question-body {
    display: inline-block;
  }
  .question-answers {
    text-align: center;
    float: right;
    display: inline-block;
    h2 {
      font-weight: bold;
    }
  }
}
.question {
  padding: 10px;
  h1 {
    font-weight: bolder;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #question-date {
    display: inline-block;
    float: left;
  }
  #question-author {
    display: inline-block;
    float: right;
    font-weight: 600;
  }
}

.answer {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  word-break: break-word;
  hr {
    margin: 0;
  }
}
.accepted {
  background-color: palegreen;
}
.answer-header {
  h1 {
    display: inline-block;
  }
  a {
    display: inline-block;
    float: right;
  }
  form {
    display: inline-block;
    float: right;
  }
}

.category {
  border-style: solid;
  border-color: black;
  margin-bottom: 10px;
}
.category-header {
  margin-top: 5px;
  p {
    font-weight: bolder;
    display: inline-block;
  }
  img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
}
#topics {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  column-gap: 10px;
  row-gap: 10px;
}
.topic {
  background-color: lightblue;
  border-style: solid;
  border-color: black;
  text-align: center;
}

//.topic-img {
//  width: 70px;
//  height: 70px;
//}

.topic-link {
  text-decoration: none;
  font-weight: bold;
}

.comment {
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
  }
}

.comments {
  a {
    text-decoration: none;
    color: darkslategrey;
  }
  a:hover {
    text-decoration: underline dotted;
    color: black;
  }
}

