.question-partial {
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h2 {
    color: black;
    word-break: break-word;
    font-weight: 600;
  }
  .question-header {
    color: black;
  }

  /* Add flexbox styles for the row */
  display: flex;
  justify-content: space-between; /* To evenly distribute the content */
  align-items: center; /* To vertically center align the content */

  .question-body {
    /* Remove display: inline-block; */
    /* Add flex: 1; to make it take up remaining space */
    flex: 1;
  }

  .question-answers {
    text-align: center;
    /* Remove float: right; and display: inline-block; */
    h2 {
      font-weight: bold;
    }
  }
}