<div class="topic-search" id="<%= category.id %>" data-controller="topic">
  <%= image_tag(category.image.variant(resize_and_pad: [30, 30])) if category.image.attached? %>
  <%= category.name %>
</div>
