<h1>Editing category</h1>

<%= turbo_frame_tag(dom_id @category) do %>
  <%= render "form", category: @category %>
<% end %>

<br>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
